@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/panel.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/form/_all.sass";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
